.container {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  flex-direction: column;

}

.rec {
  height: 33%;
  width: 100%;
}

.rec-1 {
  background-color: black;
}

.rec-2 {
  background-color: red;
}

.rec-3 {
  background-color: yellow;
}